@media screen and (max-width: 660px) {
	.container {
	position: relative;
	height: 233px;
	margin: auto;
	}
	#header_image {
		display: none;
	}
	#logo {
		position: absolute;
		left: 3%;
	}

	header {
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
	height: 233px;
	/*height: 100vh;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	}
	section {
		margin: 0 3%;
	}
	.p02 {
		width: auto;
		margin: 0 3px;
	}
	#green_callout {
		width: auto;
		margin: auto;
	}
	#green_headline {
		width: auto;
		margin: 0 3px;
	}
	#cta {
		width: auto;
		margin: auto;
	}
}