/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
	box-sizing: border-box;
}

@font-face {
font-family: "IBMPlexSans-Bold";
src: url("fonts/IBMPlexSans-Bold.ttf");
src: 
url("fonts/IBMPlexSans-Bold.woff") format("woff"),
url("fonts/IBMPlexSans-Bold.otf") format("opentype"),
}

@font-face {
font-family: "IBMPlexSans-Light";
src: url("fonts/IBMPlexSans-Light.ttf");
src: 
url("fonts/IBMPlexSans-Light.woff") format("woff"),
url("fonts/IBMPlexSans-Light.otf") format("opentype"),
}

@font-face {
font-family: "IBMPlexSans-Regular";
src: url("fonts/IBMPlexSans-Regular.ttf");
src: 
url("fonts/IBMPlexSans-Regular.woff") format("woff"),
url("fonts/IBMPlexSans-Regular.otf") format("opentype"),
}



body {
/*	font-family: url("IBMPlexSans-Bold.woff"), sans-serif;
	-webkit-font-smoothing: antialiased;*/
/*	src: url("IBMPlexSans-Bold.woff");*/
	font-family: 'IBMPlexSans-Regular', Arial, sans-serif;
	color: #323232;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
}

/*font-family {
	font-family: "IBMPlexSans-Bold.ttf";
	src: url("font/IBMPlexSans-Bold.ttf");
}*/

header {
	margin-bottom: 50px;
}

.column {
	width: 700px;
	display: inline-flex;
	justify-content: space-between;
}

p {
	margin: 0;
	text-align: left;
}

.copy_01 {
	text-align: left;
/*	width: 400px;*/
	line-height: 20px;
/*	letter-spacing: 1px;*/
	margin: 0;
}

.blue_copy {
	color: #0097d4;
}

hr {
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	width: 700px;
	margin: 10px auto;
}

/*hr {
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #9FC6FB;
	width: 700px;
	margin: 50px auto;
}*/

.block {
	width: 600px;
	margin: auto;
}

.headline {
	margin: 30px 0;
	font-size: 20px;
	font-weight: 600;
	color: #6cb344;
	letter-spacing: 0;
	width: 600px;
	text-align: left;
}

.copy_02 {
	text-align: left;
	width: 400px;
	line-height: 21px;
	letter-spacing: 0.7px;
	margin: 0;
	font-size: 14px;
	width: 600px;
}

button {
	font-family: arial, sans-serif;
	font-weight: 400;
	letter-spacing: 1.2px;
	color: white;
	text-align: center;
	width: 120px;
	height: 28px;
	border: none;
	background-color: #0097d4;
	margin-top: 30px;
	cursor: pointer;
	outline: 0;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	display: block;
}

button:hover {
	background-color: #44545E;
	color: white;
}

.copy_03 {
	text-align: left;
	width: 275px;
	line-height: 21px;
	letter-spacing: 0.7px;
	margin: 0;
	font-size: 14px;
}

.copy_03 .headline {
	width: 275px;
	margin: 0;
	line-height: 24px;
	font-size: 18px;
}

.copy_03 button {
	margin: 0;
}

.copy_03 p {
	margin: 7px 0;
}

.three {
	width: 167px;
	font-size: 12px;
}

.three .headline {
	width: 167px;
	font-size: 14px;
	margin-top: 20px;
	line-height: 18px;
}

.three p {
	margin: 7px 0;
	line-height: 17px;
}

.icons {
	margin: 0 11px;
}

.container {
	position: relative;
	width: 800px;
	margin: auto;
}


.logo {
	position: absolute;
	left: 12.5%;
	top: 25px;
	z-index: 5;
	margin: auto;
}

.date {
	position: absolute;
	left: 12.5%;
	bottom: 45px;
	z-index: 5;
	margin: auto;
}

footer {
	display: block;
	font-size: 14px;
}

.footer_bar {
	margin-top: 50px;
}

footer p {
	text-align: center;
	letter-spacing: 1.5px;
	margin: 30px 0;
}

#more {
	text-align: left;
	font-size: 14px;
	line-height: 21px;
}

